* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrousel_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrousel_photo_container {
    height: 400px;
    width: 700px;
    border-radius: 50px;
    background: #fdf6f0;
    /* overflow: clip; */
    display: flex;
    justify-content: center;
}

.carrousel_photo_container>img {
    height: 100%;
}

#back_button, #next_button {
    border: none;
    background: #fdf6f0;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
#back_button>span, #next_button>span {
    font-size: 35px;
}
#back_button {
    border-radius: 50% 0 0 50%;
}
#next_button {
    border-radius: 0 50% 50% 0;
}
.display_none {
    display: none;
}

.carrousel_point {
    font-size: 75px;
    list-style: none;
    position: absolute;
    top: 0;
}

.carrousel_point>ul {
    display: flex;
    flex-direction: row;
}