/* Feuille de style pour touts les éléments de la barre de navigation */

/* Réinitialisation des styles */
* {
    /* Marge (extérieur) à 0 */
    margin: 0;
    /* Padding (intérieur) à 0 */
    padding: 0;
    /* Placements des éléments au bords de leur box */
    box-sizing: border-box;
    /* On cache les styles pour les liens */
    text-decoration: none !important;
}

/* Définition des variables */
:root {
    /* Variable pour la couleur d'arrière plan */
    --navbar-background-color: #303030;
    /* Variable pour l'ombre */
    --navbar-box-shadow: 0px 0px 20px 5px #a0a0a0;
    /* Variable pour la position */
    --navbar-position: block;
    /* Variable pour la marge sous la barre de navigation */
    --navbar-margin-bottom: 20px;
    /* Variable pour les lignes sur le mode mobile */
    --navbar-mobile-button-lines-color: white;
    /* Variable pour la couleur du texte des liens */
    --navbar-text-color: white;
    /* Variable pour la police du texte des liens */
    --navbar-text-font-family: "Roboto";
    /* Variable pour la taille du texte des liens */
    --navbar-text-font-size: 19px;
    /* Variable pour la couleur d'arrière plan lors du survol de la souris sur le lien */
    --navbar-text-hover: rgb(6, 112, 6);
    /* Variable pour la couleur d'arrière plan lorsque le lien est actif (page actuelle) */
    --navbar-text-active: #ff0000;
    /* Variable pour l'ombre lors du survol de la souris sur le lien */
    --navbar-text-hover-box-shadow: 4.5px 4.5px 10px color-mix(in srgb, var(--navbar-text-hover) 50%, #000), 
                                    -4.5px -4.5px 10px color-mix(in srgb, var(--navbar-text-hover) 50%, #fff);
    /* Variable pour la couleur du texte lors du survol de la souris sur le lien */
    --navbar-text-hover-color: #fff;
    /* Variable pour l'ombre lorsque le lien est actif (page actuelle) */
    --navbar-text-active-box-shadow: inset 4.5px 4.5px 10px color-mix(in srgb, var(--navbar-text-active) 50%, #000), 
                                    inset -4.5px -4.5px 10px color-mix(in srgb, var(--navbar-text-active) 50%, #fff);
    /* Variable pour la couleur du texte lorsque le lien est actif (page actuelle) */
    --navbar-text-active-color: #fff;
}

/* Définition des styles de la navbar */
header {
    /* Changement de la couleur d'arrière plan avec une variable */
    background-color: var(--navbar-background-color);
    /* Changement de la hauteur à 50px */
    height: 50px;
    /* Changement de la largeur à 100% */
    width: 100%;
    /* Changement de l'ombre avec une variable */
    box-shadow: var(--navbar-box-shadow);
    /* Changement de la position avec une variable */
    position: var(--navbar-position);
    /* Changement du placement (pour position fixed) */
    top: 0;
    /* Changement de la marge du bas avec une variable */
    margin-bottom: var(--navbar-margin-bottom);
    /* Changement de la hauteur sur l'axe z (se place au dessus de tous les éléments) */
    z-index: 1000;
}

/* Définition de la taille et du placements du ul pour que les li soient bien placés */
header>ul {
    /* Changement de la largeur à 100% */
    width: 100%;
    /* Changement de la hauteur à 100% */
    height: 100%;
    /* Changement du mode d'affichage en flex */
    display: flex !important;
    /* Placement des éléments au centre avec le même espacement à droite et à gauche par rapport à l'axe vertical */
    justify-content: space-around;
    /* Placement des éléments en ligne */
    flex-direction: row;
    /* On retire le style de la liste (ul) */
    list-style: none;
}

/* Centrage des enfants de li sur l'axe */
header>ul>li {
    /* Placement des éléments au centre par rapport à l'axe vertical */
    align-content: center;
}

/* Définition de la taille, de la police, de la couleur et de l'espacements des liens */
header>ul>li>a {
    color: var(--navbar-text-color);
    font-family: var(--navbar-text-font-family);
    font-size: var(--navbar-text-font-size);
    padding: 5px 10px 5px 10px;
}

/* Création d'un design de bouton pour les a */
/* Changement de la couleur d'arrière plan, de l'arrondissement des bords, de la couleur du texte et de l'ombre du lien lorsque la souris survole le lien */
header>ul>li>a:hover {
    background-color: var(--navbar-text-hover);
    border-radius: 17px;
    color: var(--navbar-text-hover-color);
    box-shadow: var(--navbar-text-hover-box-shadow);
}

/* Changement de la couleur d'arrière plan, de l'arrondissement des bords, de la couleur du texte et de l'ombre du lien lorsqu'il est actif ainsi que lorsque la souris survole le lien actif */
.navbar-a-active, .navbar-a-active:hover {
    background-color: var(--navbar-text-active);
    color: var(--navbar-text-active-color);
    box-shadow: var(--navbar-text-active-box-shadow);
    border-radius: 17px;
}

/* Masquage du bouton mobile en affichage desktop */
.mobile-button {
    display: none;
}

/* Code pour mobile */
/* Pour les appareils ayant une largeur inférieure à 950px */
@media screen and (max-width: 950px) {
    /* On fixe le header en haut à droite de l'écran comme un petit bouton */
    header {
        position: fixed;
        width: 48px;
        height: 48px;
        top: 5px;
        right: 5px;
        border-radius: 12px;
    }
    /* On règle le padding du haut à 0 */
    header + * {
        padding-top: 0;
    }
    /* On fixe le bouton mobile en haut à droite de l'écran comme un petit bouton et on modifie le curseur pour qu'il pointe dessus */
    .mobile-button {
        position: fixed;
        display: block;
        margin: 9px;
        cursor: pointer;
        top: 5px;
        right: 5px;
    }
    /* On change les bordures des lignes du bouton mobile et on règle leur placement, que leur taille et leur coins arrondi */
    .mobile-button>div {
        border: 2px solid var(--navbar-mobile-button-lines-color);
        border-radius: 100px;
        width: 30px;
        margin: 5px 0 5px 0;
    }
    /* Code pour le conteneur des liens (ul) */
    header>ul {
        /* On fixe les liens pour qu'ils restent au même endroit */
        position: fixed;
        /* On change la couleur d'arrière plan */
        background-color: var(--navbar-background-color);
        /* On fait en sorte qu'ils prennent toute la place de haut en bas et on les places à -100% (hors de la zone visible) */
        top: 0;
        left: -100%;
        bottom: 0;
        /* Placement des éléments au centre avec le même espacement à droite et à gauche par rapport à l'axe vertical */
        justify-content: space-around;
        /* Changement du padding (intérieur) */
        padding: 50px 0;
        /* Placement des éléments en colonne */
        flex-direction: column;
    }
    /* On place les a au centre des li */
    header>ul>li {
        display: flex;
        justify-content: center;
    }
}

/* Annimation bouton mobile actif */

/* Quand on clique sur le bouton mobile, on déclenche une animation de 0.5 s pour les liens*/
header>ul.active {
    animation: navbar-ul-animation 500ms forwards;
}

/* Définition de l'animation */
@keyframes navbar-ul-animation {
    /* Quand l'animation est fini, on place le coneneur des liens sur tout l'écran (fait une animation que les liens apparaissent de la gauche) */
    100% {
        left: 0;
    }
}

/* Quand on clique sur le bouton mobile, on déclenche une animation de 0.5 s pour la première ligne du bouton */
.mobile-button.active>div:nth-child(1) {
    animation: mobile-button-animation-line1 500ms forwards;
}

/* Quand on clique sur le bouton mobile, on rend transparente la deuxième ligne du bouton */
.mobile-button.active>div:nth-child(2) {
    opacity: 0;
}

/* Quand on clique sur le bouton mobile, on déclenche une animation de 0.5 s pour la troisième ligne du bouton */
.mobile-button.active>div:nth-child(3) {
    animation: mobile-button-animation-line3 500ms forwards;
}

/* Définition de l'animation */
@keyframes mobile-button-animation-line1 {
    /* Quand l'animation est fini on tourne la ligne pour former une croix */
    100% {
        transform: translate(0px, 9px) rotate(225deg);
    }
}

/* Définition de l'animation */
@keyframes mobile-button-animation-line3 {
    /* Quand l'animation est fini on tourne la ligne pour former une croix */
    100% {
        transform: translate(0px, -9px) rotate(-225deg);
    }
}