/*mettre les élémets du body en écriture roboto avec un fond blanc cassé*/
body {
    font-family: "Roboto";
    background: #fdf6f0;
}

/*Mettre tous les paragraphes, les titres "h3" et tous les sommaires avec un alignement des caractères pareil à droite et à gauche et avec une taille sur les premières glyphes de 120% */
p, ul, ol , h3 {
    text-align:justify;
    font-size: 120%;
}

/*mettre tous les titrs principaux 'h1' de la couleur rouge et aligner au centre de la page */
h1 {
    color:red;
    text-align: center;
}

 /*Mettre les éléments de la classe 'introduction' en bleu*/
.introduction
{
    color: blue;
}

/*mettre le tableau avec une largeur de 80%, une bordure de type collapse et un espacement à l'extérieur (entre le bord de la page et du bord du tableau) de type automatique*/
table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}
/* Mettre le conteneur de livraison avec une largeur de 80% et le placer au centre */
#calculs-livraison-container {
    width: 80%;
    margin: auto;
}
/*mettre les cellules du tableau ave une bordure verte, d'paisseur de 3 px et de type solide, et un espacement entre les bordures et le texte de 10px et avec le texte centré dans la cellule*/
th,td{
    border: 3px solid rgb(6, 112, 6);
    padding: 10px;
    text-align: center;
}
/*mettre les éléments de la classe sommaire ave aucune décoration autour, une couleur noire, et un espacement entre e bord de la page et le texte à gauche de 30px*/
.sommaire {
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

/*mettre tous les boutons avec un fond vert, un arrondissement des angles de 8 px, une taille des caractères de devant de 16 px et un flottement*/
button {
    background-color:rgb(6, 112, 6);
    border-radius: 8px;
    font-size: 16px;
    float: right;
    color: #fff;
    padding: 3px 10px;
    margin-right: 15px;
}
/* Mettre la couleur du texte des liens des boutons en blanc */
button>a {
    color: #fff;
}
/* Mettre la couleur du texte des liens actifs des boutons en noir */
button>a:active {
    color: #000;
}
/* Ajouter une marge en bas de 15px pour les boutons de retour vers la page principale */
#button-return-home {
    margin-bottom: 15px;
}
/*mettre une transition de 0,4s sur les boutons*/
button {
    transition-duration: 0.4s;
}
/*quand la souris est sur le bouton, mettre le fond du bouton en blanc et le bord en vert*/
button:hover {
    background-color: white;
    border: 2px solid rgb(6, 112, 6);
    color: #000;
  }
/*quand on clique sur le bouton, mettre une ombre et déplacer le bouton sur la ligne verticale*/
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*mettre les éléments de la classe warning avec une bordure rouge de 10px, un espace à l'intérieur de 0.5rem*/
.warning {
    border: 10px ridge #f00;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

/*mettre les paragraphes dans les éléments de la classe warning avec un alignement au centre et mettre les lettres en small-caps bold avec 1.2rem en sans-serif*/
  .warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
  }
  
  /*mettre les éléments dans les span ingrédient en rouge*/
  span.ingredient {
    color: #f00;
  }

/*mettre les attributs en violet sans décoration du texte (soulignagne/surlignage/etc)*/
  a {
    text-decoration: none;
    color: purple;
}
/*mettre les attributs en vert avec un soulignage lorsqu'on passe la souris dessus*/
a:hover {
    text-decoration: underline;
    color: green;
}
/*mettre les attributs tout en rouge lorsqu'on clique dessus en gardant le soulignage*/
a:active {
    color: red;
}

/* Cacher touts les éléments ayant la classe display-none */
.display-none {
    display: none;
}

/* Code pour appareils plus petits */
/* Pour les appareils ayant une largeur inférieure à 1300px */
@media screen and (max-width: 1300px) {
    /* On augmente la largeur du tableau des calculs et du conteneur pour la livraison */
    #calculs-table {
        width: 95%;
    }
    #calculs-livraison-container {
        width: 95%;
    }
}
/* Pour les appareils ayant une largeur inférieure à 1101px */
@media screen and (max-width: 1101px) {
    /* On augmente la largeur du tableau des calculs et du conteneur pour la livraison */
    #calculs-table {
        width: 98%;
    }
    #calculs-livraison-container {
        width: 98%;
    }
}
/* Pour les appareils ayant une largeur inférieure à 1168px */
@media screen and (max-width: 1168px) {
    /* On réduit la taille de l'input pour le nom de l'article */
    #calculs-input-name {
        width: 200px;
    }
}
/* Pour les appareils ayant une largeur inférieure à 881px */
@media screen and (max-width: 881px) {
    /* On réduit la taille des input */
    #calculs-input-name, #calculs-input-weight, #calculs-input-price {
        width: 125px;
    }
}
/* Pour les appareils ayant une largeur inférieure à 635px */
@media screen and (max-width: 635px) {
    /* On réduit la taille des input */
    #calculs-input-name, #calculs-input-weight, #calculs-input-price {
        width: 100px;
    }
}
/* Pour les appareils ayant une largeur inférieure à 550px */
@media screen and (max-width: 550px) {
    /* On réduit la taille des input */
    #calculs-input-name, #calculs-input-weight, #calculs-input-price {
        width: 75px;
    }
}
/* Pour les appareils ayant une largeur inférieure à 500px (ceux trop petit pour afficher correctement la page*/
@media screen and (max-width: 500px) {
    /* On cache les éléments de la page */
    #calculs-page {
        display: none;
    }
    /* On regarde si l'orientation est en portrait */
    @media screen and (orientation: portrait) {
        /* On affiche au centre de l'écran un message concernant l'orientation de l'appareil */
        #calculs-rotate-warning {
            display: flex;
            width: 100%;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }
    }
    /* On regarde si l'orientation est en paysage */
    @media screen and (orientation: landscape) {
        /* On affiche au centre de l'écran un message concernant l'incompatibilité de l'appareil */
        #calculs-rotate-error {
            display: flex;
            width: 100%;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }
    }
}