body {
    font-family: "Roboto";
    background: #fdf6f0;
}

/*Mettre tous les paragraphes, les titres "h3" et tous les sommaires avec un alignement des caractères pareil à droite et à gauche, avec l'écriture 'Trebuchet MS' et avec une taille sur les premières glyphes de 120% */
p, ul, ol , h3 {
    text-align:justify;
    font-family: "Trebuchet MS";
    font-size: 120%;
}

/*mettre tous les titrs principaux 'h1' de la couleur rouge et aligner au centre de la page */
h1 {
    color:red;
    text-align: center;
}

 /*Mettre les éléments de la classe 'introduction' en bleu*/
.introduction
{
    color: blue;
}

/*mettre le tableau avec une épaisseur de 80%, une bordure de type collapse et un espacement à l'extérieur (entre le bord de la page et du bord du tableau) de type automatique*/
table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}
/*mettre les cellules du tableau ave une bordure verte, d'paisseur de 3 px et de type solide, et un espacement entre les bordures et le texte de 10px et avec le texte centré dans la cellule*/
th,td{
    border: 3px solid rgb(6, 112, 6);
    padding: 10px;
    text-align: center;
}
/*mettre les éléments de la classe sommaire ave aucune décoration autour, une couleur noire, et un espacement entre e bord de la page et le texte à gauche de 30px*/
.sommaire {
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

/*mettre tous les boutons avec un fond vert, un arrondissement des angles de 8 px, une taille des caractères de devant de 16 px et un flottement*/
button {
    background-color:rgb(6, 112, 6);
    border-radius: 8px;
    font-size: 16px;
    float: right
}

button {
    transition-duration: 0.4s;
}
button:hover {
    background-color: white;
    border: 2px solid rgb(6, 112, 6);
  }
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.warning {
    border: 10px ridge #f00;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
  }
  
  span.ingredient {
    color: #f00;
  }

  a {
    text-decoration: none;
    color: purple;
}

a:hover {
    text-decoration: underline;
    color: green;
}

a:active {
    color: red;
}
