body {
    background-image: url("jute.png");
    background-repeat:repeat; 
    background-position: center; 
}

p, ul, ol {
    text-align:justify;
    font-family: "Trebuchet MS";
    font-size: 120%;
}

h1 {
    text-align: center
}